#mw-content-text .flow-ui-newTopicWidget-editor textarea {
	border: 1px solid #ccc;
}

#p-logo-text {
	background-size: contain;
	background-repeat: no-repeat;
	text-align: left;
	height: 4em;
}
#p-logo-text a {
	color: transparent;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
}

#p-logo-text {
	background-image: url(/logo-fi.svg);
}
#p-logo-text:lang(se) {
	background-image: url(/logo-se.svg);
}
#p-logo-text:lang(sms) {
	background-image: url(/logo-sms.svg);
}
#p-logo-text:lang(smn) {
	background-image: url(/logo-smn.svg);
}
#p-logo-text:lang(sv) {
	background-image: url(/logo-sv.svg);
}

/* Can be removed when Timeless is updated https://phabricator.wikimedia.org/T182533 */
body.ns-special #mw-page-header-links {
	display: none;
}
