.nimiarkisto-keruubanneri {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& > .nimiarkistokartta {
		width: auto;
	}
}

.nimiarkistokartta {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ddd;
	z-index: 0;
	min-width: 200px;
	flex-grow: 1;
	width: 100%;
}
